.App {
  
}

.nav-links {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin: 25px auto;
}

.nav-links a {  
  text-decoration: none;
  color: white;
  background: black;
  font-family: 'Indie Flower', cursive;
  font-size: 0.8rem;
  border: 1px solid;
  padding: 2px 10px;
}

.nav-links a.active {
  font-weight: bold;
  color: black;
  background: white;
}

.homepage .header-img {
  width: 100vw;
}

p {
  padding: 15px;
  font-size: .8rem;
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
  text-align: center;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-card {
  margin: 16px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 8px silver;
}

.character-avatar {
  border-radius: 50%;
  width: 100px;
}

.single-character {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 70px 0;
  max-width: 700px;
  border: 1px solid;
  background: gray;
}

.single-char-img {
  border-radius: 10px;
  height: 250px;
}

.single-char-details {
  list-style: none;
  width: 225px;
}

.single-char-details h2 {
  font-size: 1.4rem;
  text-align: center;
}

.single-char-details li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid silver;
}





