.App {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin: 25px auto;
}

.nav-links a {  
  text-decoration: none;
  color: white;
  background: black;
  font-family: 'Indie Flower', cursive;
  font-size: 0.8rem;
  border: 1px solid;
  padding: 2px 10px;
}

.nav-links a.active {
  font-weight: bold;
  color: black;
  background: white;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 50vw;
  margin: 0 auto;
  justify-content: space-around;
  background: #FAFAFA;
  opacity: 0.9;
  border-radius: 15px;
  padding: 5%;
}

.title-img {
  width: 40vw;
}

.homepage p {
  width: 40vw;
  margin: 0 auto;
  border-radius: 8px;
}


p {
  padding: 15px;
  font-size: .8rem;
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
  text-align: center;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0;
  background: #FAFAFA;
  width: 60%;
  border-radius: 25px;
}

.character-card {
  border-radius: 50%;
  width: 105px;
  height: 105px;
  box-shadow: 0 0 8px silver;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: silver;
}

.character-list a {
  margin: 10px;
  border-radius: 50%;
}

.character-card:hover {
  transform: scale(1.1);
}

.character-avatar {
  border-radius: 50%;
  width: 100px;
  border: 1px solid silver;
  opacity: 1;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
  width: 100px;
  margin: 100px auto;
  border-radius: 8px;
}

.single-character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 55px auto;
  padding: 30px 0;
  max-width: 350px;
  width: 95%;
  border: 1px solid silver;
  box-shadow: 0 0 8px silver;
  background: rgb(240, 240, 240);
}

.single-char-img {
  border-radius: 10px;
  height: 250px;
}

.single-char-details {
  list-style: none;
  padding: 10px;
  width: 250px;
}

.single-char-details h2 {
  font-size: 1.4rem;
  text-align: center;
}

.single-char-details li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid silver;
  font-size: 0.7rem;
}

.single-char-details span {
  color: rgb(255, 130, 116);
}

.about-page p {
  background: #FAFAFA;
  margin: 25px auto;
  opacity: 0.9;
  border-radius: 8px;
  width: 40vw;
}




